<div class = "container">
    <h2>Usuario</h2>
    <div class="row">
        <div class="col-md4 ">
            <input [(ngModel)] = "nombre" type ="text" placeholder="ingrese su texto" class="form-control">
            <input [(ngModel)] = "cc" type ="text" placeholder="ingrese su texto" class="form-control">
            <input [(ngModel)] = "correo" type ="text" placeholder="ingrese su texto" class="form-control">
             <button class="btn btn-primary my-4" (click)="addusuario()">
             Agregar
            </button>
        </div>
        <div class="col-md4">
            <input [(ngModel)] = "nombre" type ="text" placeholder="ingrese su texto" class="form-control">
            <button class="btn btn-primary my-4" (click)="removeusuario()">Borrar</button>
        </div>

    </div>
        
        <ul class="list-group">
            <li class="list-group-item active">Estudiantes</li>
            <li class="list-group-item" *ngFor="let usuarios of usuariosp | async">
             <h6>Nombre:{{usuarios.nombre}}</h6>
             <h6>CC:{{usuarios.cc}}</h6> 
                <h6>Correo:{{usuarios.correo}}</h6>
                
                
            </li>
          </ul>
          
   
</div>